@import "@/assets/styles/styles.scss";

.len {
  display: flex;
  justify-content: end;
  font-size: 13px;
}

.container {
  box-sizing: border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 7rem;
}

.img {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;

  object-fit: cover;
}

.info {
  display: flex;
  width: 12rem;
  height: 6rem;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-weight: $medium-weight;

  .basic {
    display: flex;
    // justify-content: space-between;
    align-items: center;

    :nth-child(1) {
      font-weight: $semi-bold-weight;
      font-size: 15px;
      margin-right: 10px;
    }

    :nth-child(2) {
      font-weight: $light-weight;
    }
  }

  .clothes {
    display: inline-block;
    // background-color: $yellow;
    border-radius: 15px;
    padding: 3px 6px;
    margin-right: 7px;
    color: $gray;

    &.top {
      // 상의 스타일
      background-color: $yellow;
    }

    &.bottom {
      // 하의 스타일
      background-color: #87ceeb;
    }
  }

  .detail {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(1fr, 5);
    align-items: center;
    row-gap: 4px; // 행 사이의 간격
    font-size: 10px;

    :nth-child(2n-1) {
      color: $gray;
      font-size: 10px;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: $light-gray;
  padding: 5px;
  font-size: 9px;
  color: $dark-gray;
}
