$light-blue: #3897f5;
$blue: #1363DF;
$dark-blue: #1429A3;
$red: #f94a29;
$yellow: #ffe81c;
$black: #000000;
$white: #ffffff;
$light-gray: #f4f4f5;
$gray: #71717A;
$dark-gray: #3f3f46;
$green: #00aa5b;

