@mixin font-face($name, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: $name;
        src: url('#{$file}.woff2') format('woff2'),
        url('#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

$font-path: '/fonts/Pretendard';

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 700;
$bold-weight: 800;

@include font-face('Pretendard', $font-path + '-Light', $light-weight);
@include font-face('Pretendard', $font-path + '-Regular', $regular-weight);
@include font-face('Pretendard', $font-path + '-Medium', $medium-weight);
@include font-face('Pretendard', $font-path + '-SemiBold', $semi-bold-weight);
@include font-face('Pretendard', $font-path + '-Bold', $bold-weight);