@import "@/assets/styles/styles.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.title {
    font-size: 24px;
    font-weight: $bold-weight;
}

.message {
    display: block;
    min-height: 60px;
    font-size: 18px;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    color: $white;
    height: 47px;
    border: none;
    border-radius: 20px;
}

.blue {
    background-color: $blue;
}

.gray {
    background-color: $gray;
}