@import "@/assets/styles/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  //   align-items: stretch;
  color: $black;
  font-weight: $semi-bold-weight;
  font-size: 20px;
  //   height: 20rem;
  padding: 10px;

  * {
    // border: 1px solid pink;
  }
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
