@import "@/assets/styles/styles.scss";

.container {
  height: 7rem;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 4px 3px 7px rgb(234, 234, 234);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.img {
  box-sizing: border-box;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(1fr, 3);
  width: 12.2rem;
  height: 4rem;
  font-size: 14px;
  font-weight: $semi-bold-weight;
  :nth-child(2n-1) {
    color: $gray;
    font-weight: $regular-weight;
  }
}
